<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>Søknad om pleiepenger ved pleie i hjemmet av nærstående i livets sluttfase</title>
    <meta name="subject" content="Søknad om pleiepenger ved pleie i hjemmet av nærstående i livets sluttfase"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Søknad om pleiepenger ved pleie i hjemmet av nærstående i livets sluttfase {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Pleietrengende" href="#pleietrengende"/>
        <bookmark name="Medlemskap" href="#medlemskap"/>
        <bookmark name="Fraværsperioder" href="#fraværsperioder"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">Søknad om pleiepenger ved pleie i hjemmet av nærstående i livets sluttfase</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">

    <div class="person" id="søker">
        <p class="navn">{{ søker.navn }}</p>
        <p>{{ søker.fødselsnummer }}</p>
        <br/>
    </div>

    <section id="pleietrengende">
        <h2>Pleietrengende</h2>
        <p>Identitetsnummer: {{pleietrengende.norskIdentitetsnummer}}</p>
    </section>

    <section id="fraværsperioder">
        <h2>Fraværsperioder</h2>
        <ul>
            {{#each fraværsperioder as | fraværsperiode|~}}
                <li>
                    <p>Periode: {{fraværsperiode.fraOgMed}} - {{fraværsperiode.tilOgMed}}</p>
                    {{#if fraværsperiode.antallTimerBorte}}
                        <p>Antall timer du skulle ha jobbet den dagen: {{fraværsperiode.antallTimerPlanlagt}}</p>
                        <p>Antall timer du var borte fra jobb den dagen: {{fraværsperiode.antallTimerBorte}}</p>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>

        <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
        {{#if medlemskap.harBoddIUtlandetSiste12Mnd}}
            <p>Ja</p>
            <ul>
                {{#each medlemskap.utenlandsoppholdSiste12Mnd as | bosted|~}}
                    <li>
                        {{bosted.landnavn}} ({{bosted.fraOgMed}} - {{bosted.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            Nei
        {{/if}}

        <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
        {{#if medlemskap.skalBoIUtlandetNeste12Mnd}}
            <p>Ja</p>
            <ul>
                {{#each medlemskap.utenlandsoppholdNeste12Mnd as | bosted|~}}
                    <li>
                        {{bosted.landnavn}} ({{bosted.fraOgMed}} - {{bosted.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            Nei
        {{/if}}
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>

</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ søknadId }}</span>
    <span class="soknadsid">{{ id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
